
.bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background-image: url(https://unsplash.com/photos/grayscale-photo-of-a-dock-BeNerxxCKLU?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}


.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;

}


.na ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}


.nav a {
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;

}


.new.active {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0,3)
}


.new.active a {
    color: black;
}

.nav.active.container {
    padding: 10px 0;
}


.nav a.current,
.nav a:hover {
    color: rgb(192,57,43);
    font-weight: bold;

}
